
html {
    background-color: transparent;
}

body {
    width: 300px;
    border: 3px solid #a00101;
    margin: 0;
    padding: 2px;
    border-radius: 2px;
    background-color: transparent;
    font-family: sans-serif;
}

header > div {
    margin: 0 5px;
    width: 95%;
    background-color: #1f1f1f;
}

h1 {
    color: #c4151c;
    margin: 0 4%;
}

main {
    margin: 20px;
    font-size: 150%;
}

.btn {
    background-color: #921616 ;
    color: white;
    border-radius: 5px;
    margin: auto;
    width: 100%;
    padding: 5px 10px;
    font-size: 115%;
    cursor: pointer;
    box-shadow: 2px 1px 3px #320000;
    border: #320000 solid 1px;
}

.div-btn {
    margin: 10px auto;
    width: 80%;
}

input, select, option {
    width: 60%;
}

.row {
    display: flex;
}

#h-liste {
    font-size: 16px;
}

#list {
    font-size: 20px;
}

#list > div {
    height: 26px;
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

#list > div > img {
    position: relative;
    top: 5px;
    cursor: pointer;
}